.App {
  margin: 1em;
  /* text-align: center; */
}

h1 {
  font-family: cursive;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 16em;
}

li {
  padding: 5px;
  margin: 2px;
  background-color: #eee;
  text-align: left;
}

li:hover {
  background-color: darkolivegreen;
  color: white;
  cursor: pointer;
}

button {
  min-width: 1.6em;
  padding: 4px;
  margin: 4px 2px 4px 2px;
}

input {
  margin-left: .5em;
}